.container {
  display: inline-block;
  width: 100px;
  height: 123px;
  margin: 80px 20px 30px 40px;
  border: 3px solid;
  border-radius: 20%;
  text-align: center;
  font-family: Arial;
  font-size: 12pt;
  letter-spacing: 0.3em;
  background-color: rgba(255, 0, 0, 0.25);
}

.container::first-letter {
  font-size: 32px;
}
