body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 11;
    font-weight: normal;
    
}

article {
    position: relative;
    top: 50px;
    right: 20px;
    bottom: 30px;left: 40px;
}

.fixed {
    position: fixed;
    height: 200px;
    width: 150px;
    background-color: #d6d43f;
    top: 100px;left:200px;
}

.container {
    position: sticky;
    background-color: lightgreen;
    height: 300px;
    width: 400px;
    bottom: 20px;
    right: 30px;
    border: 3px solid #73ad21;
}

.inside {
    position: absolute;
    background-color: lightsalmon;
    height: 50px;
    width: 100px;
    bottom: 20px;
    left:0;
    opacity: 0.66;
}

.topleft {
    position: absolute;
    padding: 10px 5px 10px 6px;
    margin: 50px;
    text-align: center;
    top: 1em;
    left: 2em;
    font-size:1.4em;
    opacity: 0.43;
    border: 1px dashed ;
    width: 40%;
}